footer {
  background: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  bottom: 0;
  width: 100%;
  .container {
    padding: 15px 0;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.btn-not-btn {
  border: 0 none;
  background: transparent;
  padding: 0;
  box-shadow: none;
  &:hover,
  &:active,
  &:focus,
  &:hover:active:focus {
    border: 0 none;
    background: transparent;
    padding: 0;
    box-shadow: none;
  }
}
.btn-group.open {
  .btn-not-btn.dropdown-toggle {
    border: 0 none;
    background: transparent;
    padding: 0;
    box-shadow: none;
  }
}
